---
on:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo "this is a test"
          exit 1
  test2:
    runs-on: ubuntu-latest
    needs: test
    if: ${{ failure() }}
    steps:
      - run: |
          echo "this is test 2"
